# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env*.local

# Build output
dist

# Output of 'npm pack'
*.tgz

# OS
.DS_Store
